<nav class="navbar navbar-dark bg-dark">
    <ul class="list-inline">
        <li class="nav-item">
            <%= link_to "HOME", root_path, class:"navbar-brand" %>
        </li>
        <li>
            <%= link_to "CONTACTS", contacts_path, class:"navbar-brand" %>
        </li>
        <li>
            <%= link_to "ABOUT US", home_about_path, class:"navbar-brand" %>
        </li>
    </ul>
</nav>