<nav class="navbar navbar-dark bg-dark">
    <ul>
        <%= link_to "HOME", root_path, class:"navbar-brand" %>
        <%= link_to "CONTACTS", contacts_path, class:"navbar-brand" %>
        <%= link_to "ABOUT US", home_about_path, class:"navbar-brand" %>
    </ul>
</nav>